@model WinShooter.Models.RegisterExternalLoginModel
@{
    ViewBag.Title = "ExternalLoginConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ExternalLoginConfirmation</h2>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Användarinformation</legend>
        <p>
            Du har loggat in med ditt <strong>@ViewBag.ProviderDisplayName</strong> konto, men vi vet inte så mycket om dig.
            Ange din personliga information nedan.
        </p>
        <table>
            <tbody>
                <tr>
                    <td>@Html.LabelFor(m => m.Email)</td>
                    <td>@Html.TextBoxFor(m => m.Email, new Dictionary<string, object>(){{"readonly", "true"}})</td>
                    <td>@Html.ValidationMessageFor(m => m.Email)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.GivenName)</td>
                    <td>@Html.TextBoxFor(m => m.GivenName)</td>
                    <td>@Html.ValidationMessageFor(m => m.GivenName)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Surname)</td>
                    <td>@Html.TextBoxFor(m => m.Surname)</td>
                    <td>@Html.ValidationMessageFor(m => m.Surname)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.ShooterCardNumber)</td>
                    <td>@Html.TextBoxFor(m => m.ShooterCardNumber)</td>
                    <td>@Html.ValidationMessageFor(m => m.ShooterCardNumber)</td>
                </tr>
            </tbody>
        </table>
        @Html.HiddenFor(m => m.ExternalLoginData)
        <input type="submit" value="Registrera mig!" />
    </fieldset>
}