<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>WinShooter @ViewBag.CompetitionName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="userSettings">
        @Html.Partial("_UserSettings")
    </div>

    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="~/">WinShooter</a>
            @if (!string.IsNullOrEmpty(ViewBag.CompetitionName))
            {
                <ul class="nav">
@*                    <li class="active">@Html.ActionLink("Tävlingsinfo", "Competition", "Home")</li>
                    <li>@Html.ActionLink("Klubbar", "Clubs", "Home")</li>
                    <li>@Html.ActionLink("Vapen", "Weapons", "Home")</li>
                    <li>@Html.ActionLink("Stationer", "Stations", "Home")</li>
                    <li>@Html.ActionLink("Tävlande", "Competitors", "Home")</li>
                    <li>@Html.ActionLink("Resultatinmatning", "EnterResults", "Home")</li>
                    <li>@Html.ActionLink("Resultat", "Results", "Home")</li>*@
                </ul>
            }
            <a class="brand" href="~/">@ViewBag.CompetitionName</a>
        </div>
    </div>

    <div id="body">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
