<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>WinShooter @ViewBag.CompetitionName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/Scripts/App/common.js")
</head>
    <body>
        <div id="competitionid">@ViewBag.CompetitionId</div>
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="~/">WinShooter @ViewBag.CompetitionName</a>
                <ul class="nav">
                    @if (!string.IsNullOrEmpty(ViewBag.CompetitionName))
                    {
                        <li class="active">@Html.ActionLink("Tävlingsinfo", "Competition", "Home")</li>
                        <li>@Html.ActionLink("Klubbar", "Clubs", "Home")</li>
                        <li>@Html.ActionLink("Vapen", "Weapons", "Home")</li>
                        <li>@Html.ActionLink("Stationer", "Stations", "Home")</li>
                        <li>@Html.ActionLink("Tävlande", "Competitors", "Home")</li>
                        <li>@Html.ActionLink("Resultatinmatning", "EnterResults", "Home")</li>
                        <li>@Html.ActionLink("Resultat", "Results", "Home")</li>
                    }
                    <li>@Html.Partial("_UserSettings")</li>
                </ul>
            </div>
        </div>

        <div id="body">
            @RenderBody()
        </div>

        @RenderSection("scripts", required: false)
    </body>
</html>
