<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>WinShooter @ViewBag.CompetitionName</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body>
        <div id="competitionid">@ViewBag.CompetitionId</div>
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="~/">WinShooter @ViewBag.CompetitionName</a>
                <ul class="nav">
                    @if (!string.IsNullOrEmpty(ViewBag.CompetitionName))
                    {
                        <li class="active">@Html.ActionLink("Tävlingsinfo", "Competition", "Home", new { id = ViewBag.CompetitionGuid }, null)</li>
                        <li>@Html.ActionLink("Klubbar", "Clubs", "Home", new { id = ViewBag.CompetitionGuid }, null)</li>
                        <li>@Html.ActionLink("Vapen", "Weapons", "Home", new { id = ViewBag.CompetitionGuid }, null)</li>
                        <li>@Html.ActionLink("Stationer", "Stations", "Home", new { id = ViewBag.CompetitionGuid }, null)</li>
                        <li>@Html.ActionLink("Tävlande", "Competitors", "Home", new { id = ViewBag.CompetitionGuid }, null)</li>
                        <li>@Html.ActionLink("Resultatinmatning", "EnterResults", "Home", new { id = ViewBag.CompetitionGuid }, null)</li>
                        <li>@Html.ActionLink("Resultat", "Results", "Home", new { id = ViewBag.CompetitionGuid }, null)</li>
                    }
                    <li>@Html.Partial("_UserSettings")</li>
                </ul>
            </div>
        </div>

        <div id="body">
            @RenderBody()
        </div>
        
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/Scripts/App/common.js")
        
        <!-- fallback for CDN -->
        <script>
            // Fallback to loading jQuery from a local path if the CDN is unavailable
            (window.jQuery === undefined && document.write('<script src="@Url.Content("~/Scripts/jquery-1.9.1.js")"><\/script>'));
        </script>
        <script>
            // Fallback to loading jQuery.ui from a local path if the CDN is unavailable
            (window.jQuery.ui === undefined && document.write('<script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.js")"><\/script>'));
        </script>
        <script>
            // Fallback to loading knockout from a local path if the CDN is unavailable
            (window.ko === undefined && document.write('<script src="@Url.Content("~/Scripts/knockout-2.2.0.js")"><\/script>'));
        </script>

        @RenderSection("scripts", required: false)
    </body>
</html>
